*,
*:before,
*:after
    box-sizing border-box
    background-repeat no-repeat

html
    font-size 62.5%
    height: auto;

body
    font-family "Satoshi", sans-serif
    background hsla(0, 0%, 100%, 1)
    color black
    font-size 1.5rem